################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlobalBOX/GetGlobalInfo/.vs/Pulsar/v15
/GlobalBOX/GlobalInfoProtocol/.vs
