<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pulsar.Properties.Settings.LocalInfoProtocolConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\LocalInfoProtocol.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <appSettings>
    <add key="ServerUrl" value="http://tmclub.northeurope.cloudapp.azure.com/pulsar/"/>
    <add key="Amir" value="123"/>
  </appSettings>
</configuration>